<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <title>home page</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %> 
    <div class="container-fluid text-center text-capitalize text-lg-start py-4 pe-lg-5 ">
        <div class="tex">
            <h1 class="pl-lg-5">welcome to innovation enterprise and vacational institute clearance site</h1>
            <p class="lead">this is the final year project of software enginering student, of innovation and vacational enteprise institute. kano polytechnic</p>
            <div class="btn">
            <a class="btn btn-success"  href="/registration">register</a>
            <a class="btn btn-dark mx-2"  href="/log">log in</a>
            </div>
        </div>
    </div>
</body>
</html>